/********************
* GLOBAL
********************/

.App {
  text-align: center;
  font-family: Open Sans,sans-serif;
}

a {
    text-decoration: none;
    color: inherit;
}

.wrapper {
    display: flex;
}

.gutter {
    width: 20%;
    min-height: 100vh;
}

.clear {
    clear: both;
}

/********************
* HEADERS
********************/

.header {
    background-color: #AB2A19;
    height: 100px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    color: #fff;
    font-size: 30px;
    font-weight: 700;
}

.header img {
    position: relative;
    top: 13px;
    height: 50px;
    margin-right: 3px;
}

.MainHeader > div {
    width: 500px;
    text-align: left;
    align-self: center;
}

.ShelfHeader .headerLogo {
    width: 20vw;
    position: relative;
    bottom: 10px;

}

.ShelfHeader > .shelf {
    background-color: #D34735;
    height: 100%;
    width: 100%;
    text-align: left;
    display: flex;
    align-items: center;
    padding-left: 20px;
    box-sizing: border-box;
}

.BinHeader {
    display: flex;
}

.BinHeader .headerLogo {
    width: 10vw;
    padding-bottom: 17px;
    text-align: center;
}

.BinHeader .headerShelf {
    background-color: #D34735;
    height: 100%;
    flex: 1;
}

.BinHeader .headerBin {
    width: 70vw;
    height: 100%;
    background-color: #ED6B5A;
}

.BinHeader span {
    float: left;
    margin-left: 26px;
    margin-top: 30px;
}

/********************
* SHELVES
********************/

.Shelves-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.Shelves {
    background-color: #D34735;
    width: 500px;
    height: 60px;
    margin-top: 20px;
    border-radius: 3px;
    align-self: center;
}

.Shelves h2 {
    color: #fff;
    text-align: left;
    margin-top: 10px;
    margin-left: 90px;
    font-size: 1.9rem;
}

/********************
* BINS
********************/

.bin-wrapper{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.bin {
    background-color: #ED6B5A;
    width: 500px;
    height: 60px;
    margin-top: 20px;
    margin-left: 10px;
    border-radius: 3px;
    align-self: center;
    box-sizing: border-box;
}

.bin > h2 {
    font-family: 'Times New Roman',serif;
    color: #fff;
    text-align: center;
    margin-top: 12px;
    font-size: 1.9rem;
    font-weight: 400;
    position: relative;
    top: 12px;
}

.EmptyBin {
    background-color: #FFB8AF;
}

/********************
* PRODUCTS
********************/

.NewProduct {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.NewProduct input {
    width: 500px;
    padding: 14px;
    margin-bottom: 10px;
    border: 1px solid #AB2A19;
    border-radius: 3px;
    font-size: 30px;
    font-weight: bold;
}

.NewProduct span {
    position: relative;
    left: -200px;
    margin: 25px 0 3px 10px;
    font-size: 30px;
    font-weight: bold;
}

.NewProduct button {
    background-color: #40F99B;
    font-weight: bold;
    font-size: 30px;
    padding: 13px;
    width: 530px;
    margin-top: 20px;
    border-radius: 3px;
    height: auto;
    border: none;
}

.ViewProduct {
    display: flex;
    margin-top: 25px;
}

.ViewProduct .spacer {
    width: 10%;
    min-width: 120px;
}

.ViewProduct .productImg {
    width: 200px;
}

.ViewProduct .inputs {
    flex: 1;
    padding-left: 30px;
}

.ViewProduct .inputs input {
    width: 500px;
    padding: 14px;
    margin-bottom: 10px;
    border: 1px solid #AB2A19;
    border-radius: 3px;
    font-size: 30px;
    font-weight: bold;
    float: left;

}

.ViewProduct .inputs span {
    display: block;
    text-align: left;
    font-size: 16px;
    font-weight: bold;
    margin: 4px 10px;
}

.ViewProductBtns {
    display: flex;
}

.ViewProductBtns button {
    font-size: 30px;
    font-weight: bold;
    height: 60px;
    border: none;
    border-radius: 3px;
    background-color: #d8d8d8;
    width: 200px;
    padding: 10px 0;
    cursor: pointer;
    margin-right: 130px;
    outline: none;
}

.ViewProductBtns .Save {
    background-color: #40F99B;
}
