/********************
* GLOBAL
********************/

.App {
  text-align: center;
  font-family: Open Sans,sans-serif;
}

a {
    text-decoration: none;
}

/********************
* HEADERS
********************/

.header {
    background-color: #AB2A19;
    height: 100px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    color: #fff;
    font-size: 30px;
    font-weight: 700;
}

.header img {
    position: relative;
    top: 13px;
    height: 50px;
    margin-right: 3px;
}

.MainHeader > div {
    width: 500px;
    text-align: left;
    align-self: center;
}

.ShelfHeader > .headerLogo {
    width: 25%;
    position: relative;
    bottom: 10px;

}

.ShelfHeader > .shelf {
    background-color: #D34735;
    height: 100%;
    width: 100%;
    text-align: left;
    display: flex;
    align-items: center;
    padding-left: 20px;
    box-sizing: border-box;
}


/********************
* SHELVES
********************/

.Shelves-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.Shelves {
    background-color: #D34735;
    width: 500px;
    height: 60px;
    margin-top: 20px;
    border-radius: 3px;
    align-self: center;
}

.Shelves h2 {
    color: #fff;
    text-align: left;
    margin-top: 10px;
    margin-left: 90px;
    font-size: 1.9rem;
}

/********************
* BINS
********************/
